body{
    font-family: roboto, sans-serif;
    background-color: #222437;
    color: #FFFFFF;
}

table {
  /* border-collapse: collapse; */
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}

/* tr{
    border: 1px solid black;
} */

tr:nth-child(even) {
  background-color: #1c5448;
}

/* td:nth-child(odd), th:nth-child(odd) {
  background-color: #D6EEEE;
} */

dialog{
  color: #FFFFFF;
  background-color:#2e3150;
}